.Home {
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .Home__link {
    padding: 8px;
    font-size: 20px;
    border: 1px solid;
    color: #f2873b;;
    margin: 8px;
  }
  