h1{
  text-align: center;
}

.FilteredCalls__agentsList {
  text-align: center;
  flex-basis: 60%;
  padding: 8px 16px;
}

.FilteredCalls__duration {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.FilteredCalls__actions {
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

